* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
